*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Reddit Sans', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

.statut-seance-container {
    padding: 20px;
}

.titre-page {
    font-size: 28px;
    font-weight: 600;
    color: #151836;
    margin-bottom: 25px;
}

.alerte-succes {
    background-color: #d4edda;
    color: #155724;
    padding: 12px 16px;
    border-left: 4px solid #28a745;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* Tableau */
.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #f1f1f1;
    font-weight: bold;
    color: #151836;
}

.table tr:hover {
    background-color: #f9f9f9;
}
