/* Formulaire */
.form-title {
    font-size: 30px;
    font-weight: bold;
    color: #151836;
    margin-bottom: 30px;
    font-family: 'Reddit Sans', sans-serif;
    text-align: center;
}

.form-alert {
    background-color: #fde2e2;
    color: #9d1c1c;
    border: 1px solid #f5c2c2;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 auto 20px;
    max-width: 500px;
    font-size: 14px;
}

.formulaire-container {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    font-family: 'Reddit Sans', sans-serif;
}

.formulaire-container label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #151836;
}

.formulaire-container input[type="text"],
.formulaire-container select {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.formulaire-container button {
    background-color: #151836;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    width: 100%;
    transition: background-color 0.3s ease;
}

.formulaire-container button:hover {
    background-color: #FF0047;
}
