@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans&display=swap');

body {
    font-family: 'Reddit Sans', sans-serif;
}

/* top bar */
.annee-container {
    padding: 20px;
}

.annee-container h2 {
    font-size: 28px;
    font-weight: 700;
    color: #0a0a37;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 12px 16px;
    border-left: 4px solid #28a745;
    border-radius: 6px;
    margin-bottom: 20px;
}

.btn-ajouter {
    background-color: #0a0a37;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    transition: 0.3s;
}

.btn-ajouter:hover {
    background-color: #FF0047;
}

/* tableau */
.table-wrapper {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #0a0a37;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #f7f7f7;
    font-weight: bold;
}

.table tr:hover {
    background-color: #f9f9f9;
}

.empty-message {
    text-align: center;
    padding: 15px;
    font-style: italic;
    color: #888;
}

.table-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.btn-edit{
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: #0a0a37;
    transition: 0.2s ease;
}
.btn-delete {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: #FF0047;
    transition: 0.2s ease;
}

.btn-edit:hover {
    color: #FF0047;
    transform: scale(1.1);
}

.btn-delete:hover {
    color: #dc3545;
    transform: scale(1.1);
}


.etat-en-cours {
    color: #198754;
    font-weight: bold;
    font-size: 14px;
}

.etat-inactive {
    background: none;
    border: none;
    color: #555;
    font-size: 14px;
    cursor: pointer;
}

.etat-inactive:hover {
    color: #0a0a37;
}

.pagination-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
